* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
  border: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
}
a,
a:hover,
a:active,
a:visited,
a:link,
a:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none;
  background: none;
  text-decoration: none;
}
::selection {
  background: #fff;
  color: #333;
}
::-moz-selection {
  background: #fff;
  color: #333;
}
::-webkit-selection {
  background: #fff;
  color: #333;
}

ul,
li {
  list-style: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.box-r4x {
  border-radius: 4px;
  padding: 10px;
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.box-r10x {
  border-radius: 10px;
  padding: 10px;
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

[v-cloak] {
  display: none !important;
}

.brs-8-bc-fff {
  border-radius: 8px;
  background: #fff;
}

.dn {
  display: none;
}

.df {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.clearfix::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  clear: both;
}

.space-between {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}

.opacity-0 {
  opacity: 0 !important;
  transition: all 0.25s ease;
}

.opacity-1 {
  opacity: 1;
  transition: all 0.25 ease;
}

// 选中颜色
::selection {
  background: #00a1d6;
  color: white; /* Safari */
}
::-moz-selection {
  background: #00a1d6;
  color: white; /* Firefox */
}

// -------------------------------新的通用样式-----------------------------
button.transparent {
  outline: none;
  cursor: pointer;
}

// 遮罩之上的元素使用
.z-100 {
  z-index: 100 !important;
}

// 遮罩使用
.z-50 {
  z-index: 50 !important;
}
